@font-face {
    font-family: "Droidga";
    src: url("../Arquivos/font/Droidiga.otf")format('opentype');
    font-family: "Think";
    src: url("../Arquivos/font/Think-Bold.ttf")format('truetype');
    font-family: "Pokemon";
    src: url("../Arquivos/font/PokemonHollow.ttf")format('truetype');
}
::placeholder{
    color: snow;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Header{
    color: white;
    text-align: center;
    height: 9vh;
    border: 0.2vh solid transparent;
}
.Header > h1{
    margin-top: 0.7vh;
    font-size: 7vh;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url("https://media.tenor.com/McJ1cchywIIAAAAC/mob-psycho-mogami.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Droidga';
    font-style: italic;
}
.Header > label > button > img{
   filter: drop-shadow(0.2vh 0.2vh 0.2vh snow);
}
.Header > a{
    text-align: center;
    color: aqua;
    text-decoration: none;
    margin: auto;
    margin-left: 6vh;
}
.Button{
    all: unset;
    border: 1vh solid transparent;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-top: -2.5vh;
}
.ButtonF{
    all: unset;
    border: 1vh solid transparent;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    cursor: pointer;
}
.Button > span,.ButtonF > span{
    display: block;
    width: 60%;
    border: 0.3vh solid snow;
    background: snow;
    margin: auto;
    margin-top: 1vh;
}
.Theme > button{
    all: unset;
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 1.5vh;
}
.Theme > button > img{
    display: block;
    width: 6vh;
    border-radius: 50%;
    margin: auto;
    margin-top: 1vh;
}
/* Sidebar */
.Sidebar{
position: fixed;
  left: 0;
  top: 0;
  height: 105vh;
  width: 40vh;
  background-image: url("../Arquivos/Celular.jpg");
  background-position: center;
  background-size: cover;
  padding: 0vh 1vh;
  display: none;
  word-wrap: break-word;
}
.Sidebar > a{
    color: rgb(182, 14, 182);
    text-decoration: none;
    display: block;
    font-size: 4vh;
    border: 0.1vh solid transparent;
    text-align: left;
    transition: 4s;
}
.Sidebar > a:hover{
    color: yellow;
}
.Sidebar > button{
    text-align: center;
    font-size: 2vh;
}
/* Iframe */
.Iframe{
    overflow: hidden;
}
.Iframe > input::placeholder{
    color: snow;
}
.Iframe > input{
    all: unset;
    width: 80%;
    border: 0.4vh solid black;
    border-radius: 2vh;
    margin-top: 2vh;
    text-align: center;
    color: snow;
    display: block;
    margin: auto;
    margin-top: 2vh;
    background: cadetblue;
    font-size: 4vh;
}
.Iframe > button{
    all: unset;
    margin: auto;
    display: block;
    border: 0.4vh solid black;
    width: 10vh;
    text-align: center;
    cursor: pointer;
    color: snow;
    background: cadetblue;
    border-radius: 2vh;
    height: 5vh;
    margin-top: 1vh;
    font-size: 2vh;
    transition: .5s;
}
.Iframe > button:hover{
    filter: invert(1);
}
.Iframe > iframe{
    width: 100%;
    height: 75vh;
    margin-top: 0.6vh;
}
/* Api */
.Container{
    overflow: auto;
    border: 0.7vh solid transparent;
    height: 91vh;
}
.Container::-webkit-scrollbar{
    width: 0px;
}
.List{
    border: 0.5vh solid #252525;
    text-align: center;
    list-style: none;
    margin: auto;
    border-radius: 20vh;
    margin-top: 2vh;
    width: 80%;
}
.List > li > h1{
    color: snow;
    text-align: center;
    font-size: 5vh;
    word-wrap: break-word;
    border: 2vh solid transparent;
    width: 80%;
    margin: auto;
}
.List > li > p{
    font-size: 2.5vh;
    text-align: left;
    margin-left: 4vh;
    border: 0.5vh solid transparent;
    width: 85%;
    word-wrap: break-word;
    margin: auto;
    color: snow;
}
.List > li > div{
    border: 2vh solid transparent;
    width: 40%;
    margin: auto;
}
.List > li > div > button{
    all: unset;
    width: 20vh;
    display: block;
    border: 2vh solid transparent;
    cursor: pointer;
    font-size: 3vh;
    display: inline-block;
}
.Inputs > input,.Inputs > textarea{
    all: unset;
    display: block;
    margin: auto;
    border: 0.4vh solid #252525;
    width: 80%;
    margin-top: 2vh;
    border-radius: 0.7vh;
}
.Inputs > input{
    text-align: center;
    color: seashell;
}
.Inputs > textarea{
    height: 30vh;
    color: seashell;
}
.Inputs > textarea::-webkit-scrollbar{
    width: 0px;
}
.Inputs > div {
    border: 1vh solid transparent;
    width: 20%;
    margin: auto;
    margin-top: 2vh;
}
.Inputs > div > button,.BotãoAparecer > button{
    all: unset;
    display: block;
    text-align: center;
    border: 0.6vh solid black;
    border-radius: 20vh;
    background: #11101D;
    color: skyblue;
    margin: auto;
    width: 20vh;
    font-size: 3vh;
    margin-top: 0.6vh;
    cursor: pointer;
    transition: .5s;
}
.Inputs > div > button:hover,.BotãoAparecer > button:hover{
    filter: invert(1);
}
.BotãoAparecer{
    border: 1vh solid transparent;
    width: 10%;
    border: 2px solid transparent;
    width: 100%;
}
.BotãoAparecer > button:nth-child(1){
    margin: auto;
    margin-top: 2vh;
}
.BotãoAparecer > button:nth-child(2){
    position: fixed;
    width: 4vh;
}
/* Timer */
.Timer{
    text-align: center;
}
.Timer > button{
    all: unset;
    text-align: center;
    margin: auto;
    border: 0.5vh solid #11101D;
    font-size: 4vh;
    border-radius: 2vh;
    width: 20vh;
    background: rgb(162, 91, 228);
    color: aliceblue;
    transition: .5s;
    margin-top: 2vh;
}
.Timer > button:hover{
    filter: invert(1);
}
.Timer > h1{
    font-size: 40vh;
    text-shadow: 1vh 1vh 1vh #c0b630;
    font-family: 'Think';
    font-weight: bold;
    animation: Color 4s infinite;
}
@keyframes Color {
    0%{
        color: #2c7983;
    }
    25%{
        color: #e9f3;
    }
    50%{
        color: #fbf505;
    }
    75%{
        color: #5327fe;
    }
    100%{
        color: #b32b73;
    }
}
/* Tempo */
.InputTempo > input,.InputTempo > button{
    all: unset;
    display: block;
    margin: auto;
}
.InputTempo > input::placeholder{
    color: #9c95e7;
}
.InputTempo > input{
    border: 0.4vh solid #2c7983;
    width: 80%;
    background: #11101D;
    font-size: 3vh;
    margin-top: 2vh;
    text-align: center;
    color: #9c95e7;
    border-radius: 2vh;
}
.InputTempo > button{
    border: 0.5vh solid #11101D;
    background: #2c7983;
    color: #ebeafc;
    margin-top: 2vh;
    border-radius: 4vh;
    cursor: pointer;
    width: 14vh;
    text-align: center;
    font-size: 4vh;
}
.DivTempo{
    background: rgb(61, 59, 59);
    width: 40%;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
    font-family: 'Think';
    border-radius: 2vh;
    color: #ebeafc;
    word-break: break-all;
    animation: SoleLua 5s infinite;
}
.DivTempo > h1{
    font-size: 20vh;
    margin-top: 1vh;
}
.DivTempo > h2{
    font-size: 10vh;
    margin-top: -2vh;
}
.DivTempo > h3{
    font-size: 5vh;
}
.DivTempo > h4{
    font-size: 6vh;
}
@keyframes SoleLua {
    0%{
        border: 0.8vh solid #74A8E3;
    }
    50%{
        border: 0.8vh solid #E34E0D;
    }
    100%{
        border: 0.8vh solid #01131D;
    }
}
/* Random Color */
.ColorButton{
    all: unset;
    display: block;
    text-align: center;
    margin: auto;
    border: 0.5vh solid #74A8E3;
    margin-top: 2vh;
    cursor: pointer;
    background: #11101D;
    color: snow;
    border-radius: 2vh;
    width: 25vh;
    font-size: 3vh;
    transition: 5s;
}
.ColorButton:hover{
    filter: invert(1);
}
.Color{
    margin: auto;
    margin-top: 3vh;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    text-align: center;
    color: snow;
}
.Color:nth-child(4){
    width: 25vh;
    height: 25vh;
}
.Color > h1{
    font-size: 3vh;
    margin-top: 5.5vh;
    margin-left: 2.2vh;
    position: absolute;
    border: 0.1vh solid transparent;
    width: 11vh;
    word-wrap: break-word;
}
.Color:nth-child(4) > h1{
    margin-left: 6.5vh;
    margin-top: 7vh;
    width: 12vh;
}
/* Gerador */
.RAndom{
    border: 0.6vh solid #525636;
    text-align: center;
}
.RAndom > input{
    all: unset;
    width: 80%;
    border: 0.4vh solid #fbf505;
    margin-top: 2vh;
    border-radius: 2vh;
    text-align: center;
    background: #5327fe;
    color: #74A8E3;
    font-size: 5vh;
}
.RAndom > button{
    all: unset;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 2vh;
    border: 0.3vh solid rgb(255, 242, 242);
    background: #11101D;
    color: skyblue;
    width: 20vh;
    font-size: 3vh;
    cursor: pointer;
}
.RAndom > h1{
    border: 0.2vh solid transparent;
    color: snow;
    word-wrap: break-word;
    font-size: 3.5vh;
    width: 80%;
    margin: auto;
    margin-top: 2vh;
}
.RAndom > button:hover{
    filter: invert(1);
}
.Dados{
    border: 0.1vh solid transparent;
    margin-top: 2vh;
    width: 50vh;
    border-radius: 3vh;
}
/* Cronometro */
.Cronometro{
    border: 0.5vh solid transparent;
    text-align: center;
    margin-top: 2vh;
}
.Cronometro > button{
    all: unset;
    border: 0.5vh solid #74A8E3;
    margin-left: 1vh ;
    background: #11101D;
    color: #E34E0D;
    border-radius: 2vh;
    width: 25vh;
    cursor: pointer;
    font-size: 5vh;
}
.Cronometro > button:hover{
    background: #74A8E3;
}
.Cronometro > div{
    color: #74A8E3;
    font-size: 50vh;
    margin-top: 10vh;
    text-shadow: 1vh 0.1vh 0.1vh #b32b73;
    font-family: 'Think';
}
/* Mural */
.ImageInput{
    border: 0.5vh solid transparent;
    text-align: center;
}
.ImageInput > input::placeholder{
    color: #11101D;
}
.ImageInput > input{
    all: unset;
    display: block;
    margin: auto;
    margin-top: 2vh;
    color: #11101D;
    border: 0.5vh solid #ebeafc;
    background: #74A8E3;
    font-size: 3vh;
    border-radius: 2vh;
    width: 40%;
}
.ImageInput > input:nth-child(2){
    width: 80%;
}
.ImageInput > button,.RT{
    all: unset;
    display: block;
    text-align: center;
    border: 0.6vh solid black;
    border-radius: 20vh;
    background: #11101D;
    color: skyblue;
    margin: auto;
    width: 20vh;
    font-size: 3vh;
    margin-top: 0.6vh;
    cursor: pointer;
    transition: .5s;
    margin-top: 2vh;
}
.ImageInput > button:hover,.RT:hover{
    filter: invert(1);
}
.MuralDv{
    border: 0.3vh solid snow;
    width: 40vh;
    display: inline-table;
    margin-top: 2vh;
    margin-left: 2vh;
    background: #11101D;
    color: #74A8E3;
    border-radius: 2vh;
    text-align: center;
}
.MuralDv > li{
    list-style: none;
}
.MuralDv > li > h1{
    font-size: 5vh;
    border: 1vh solid transparent;
    word-wrap: break-word;
}
.MuralDv > li > img{
    width: 100%;
    height: 50vh;
}
.ButtonMural > button{
    all: unset;
    text-align: center;
    margin-left: 2vh;
    font-size: 3vh;
    cursor: pointer;
}
.CorpoMural{
    border: 0.2vh solid transparent;
    width: 85%;
    margin: auto;
}
.ListPokemon{
    border: 0.5vh solid transparent;
    width: 90%;
    margin: auto;
    border-radius: 2vh;
}
.ListPokemon > div{
    width: 40vh;
    border: 0.2vh solid transparent;
    height: 50vh;
    display: inline-table;
    margin-top: 2vh;
    margin-left: 2.2vh;
    background-image: url(../Arquivos/PokeBola.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh;
}
.ListPokemon > div > li{
    list-style: none;
}
.ListPokemon > div > li > img{
    border: 0.1vh solid transparent;
    margin: auto;
    display: block;
    margin-top: 2vh;
    width: 30vh;
}
.ListPokemon > div > li > h1,.ListPokemon > div > li > h2,.ListPokemon > div > li > h3{
    color: #11101D;
    text-align: center;
}
.ListPokemon > div > li > h1{
    margin-top: -2vh;
    color: black;
    text-shadow: 0.2vh 0.2vh 0.2vh yellow;
    font-size: 7vh;
}
.ListPokemon > div > li > h2{
    border: 0.2vh solid transparent;
    color: red;
    font-size: 5vh;
    width: 85%;
    margin: auto;
    margin-top: -6vh;
    word-break: break-all;
    font-family: 'Pokemon';
}
.ListPokemon > div > li > h3{
    font-size: 3vh;
    color: #5327fe;
    word-break: break-all;
    border: 0.1vh solid transparent;
    width: 80%;
    margin: auto;
    margin-top: -2.5vh;
}
/* Reverse Texto */
.ReverseT{
    border: 0.7vh solid snow;
    width: 80%;
    margin: auto;
    margin-top: 4vh;
    border-radius: 10vh;
    background: #110c3f;
    height: 60vh;
}
.ReverseT > input::placeholder{
    color: cornsilk;
}
.ReverseT > input{
    all: unset;
    width: 80%;
    border: 0.3vh solid whitesmoke;
    display: block;
    margin: auto;
    margin-top: 2vh;
    border-radius: 1vh;
    background-color: #160a81;
    text-align: center;
    font-size: 4vh;
    color: cornsilk;
}
.ReverseT > button{
    all: unset;
    display: block;
    border: 0.3vh solid whitesmoke;
    background-color: rgb(21, 66, 124);
    color: #28c8dd;
    width: 20vh;
    text-align: center;
    margin: auto;
    border-radius: 2vh;
    margin-top: 10vh;
    cursor: pointer;
    font-size: 3vh;
    transition: .5s;
}
.ReverseT > button:hover{
    filter: invert(1);
}
.ReverseT > h3{
    color: rgb(167, 184, 22);
    text-shadow: 0.2vh 0.2vh 0.2vh black ;
    text-align: center;
    border: 0.5vh solid whitesmoke;
    overflow: auto;
    word-wrap: break-word;
    width: 80%;
    margin: auto;
    margin-top: 4vh;
    height: 10vh;
    font-size: 7vh;
    border-radius: 1vh;
}
.ReverseT > h3::-webkit-scrollbar{
    width: 0px;
}
